# Breast Cancer

In [1]:
# Breast Cancer

# Breast Cancer Dataset Training Standard Template
# auther: leechh

In [2]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('../../')

import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.utils import shuffle

from utils import cv

In [4]:
! ls

README.md                    breast_cancer.ipynb
breast-cancer-wisconsin.data

In [5]:
PATH = './breast-cancer-wisconsin.data'

FEATURE_NAME = [
    'sample_code_number',
    'clump_thickness',
    'cell_size',
    'cell_shape', 
    'marginal_adhesion',
    'single_epithelial_cell_size',
    'bare_nuclei',
    'bland_chromatin', 
    'normal_nucleoli', 
    'mitoses',
    'class'
]


data = pd.read_csv(PATH, names=FEATURE_NAME)
data = shuffle(data, random_state=2020).reset_index(drop=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   sample_code_number           699 non-null    int64
 1   clump_thickness              699 non-null    int64
 2   cell_size                    699 non-null    int64
 3   cell_shape                   699 non-null    int64
 4   marginal_adhesion            699 non-null    int64
 5   single_epithelial_cell_size  699 non-null    int64
 6   bare_nuclei                  699 non-null    object
 7   bland_chromatin              699 non-null    int64
 8   normal_nucleoli              699 non-null    int64
 9   mitoses                      699 non-null    int64
 10  class                        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [6]:
for col in data.columns:
    print(data.col.des)

,sample_code_number,clump_thickness,cell_size,cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1168359,8,2,3,1,6,3,7,1,1,4
1,733639,3,1,1,1,2,1,3,1,1,2
2,1324572,5,1,1,1,2,1,2,2,1,2
3,1079304,2,1,1,1,2,1,2,1,1,2
4,1119189,5,8,9,4,3,10,7,1,1,4

In [ ]:
# LabelEncode class
le = LabelEncoder()
y = le.fit_transform(data['class'])

# fillna bare_nuclei
data['bare_nuclei'] = data['bare_nuclei'].apply(lambda x: 1 if (x == '?') else x)

In [ ]:
# DataFrame -> array
data.drop(['class', 'sample_code_number'], axis=1, inplace=True)
x = data.values.astype('float32')
del data

In [ ]:
# in this Demo, We will show how to use cv function to test model performance.
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

cv(lr, x, y)